.card__delete-button {
  width: 20px;
  height: 20px;
  right: 16px;
  top: 16px;
  position: absolute;
  /* background-color: red; */
  background: url(../../../images/Trash.svg) no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer;
  display: none;
  /* z-index: 1; */
}

.card__delete-button:hover {
  opacity: 80%;
}
