.card {
  /* height: 361px; */
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

/* .card__image {
  width: 100%;
} */

/* .card__title-group {
  height: 80px;
  padding-left: 21px;
  padding-right: 21px;
  display: flex;
} */

/* .card__title {
  margin-top: auto;
  margin-bottom: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
} */

/* .card__heart-container {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
} */

/* .card__heart {
  width: 22px;
  height: 22px;
  padding: 0;
  background: url(../../images/heart.svg) no-repeat;
  background-position: center;
  background-size: contain;
  border: 0;
  cursor: pointer;
} */

/* .card__heart_selected {
  background: url(../../images/heart_selected.svg) no-repeat;
} */

/* .card__heart:hover {
  opacity: 0.5;
} */

/* @media screen and (max-width: 767px) {} */
