.profile__intro {
  /* width: 100%; */
  min-width: calc(100% - 168px - 150px);
  align-self: center;
  display: flex;
  flex-direction: column;
}

/* 
@media screen and (max-width: 767px) {
  .profile__intro {
    margin: auto;
    min-width: 0;
    width: 190px;
  }
} */