.profile__intro-title {
  /* width: 100%; */
  /* min-width: calc(886px - 168px - 150px); */
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  /* display: flex; */
  /* max-width: 400px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 767px) {
  .profile__intro-title {
    /* width: 282px; */
    /* margin-top: 22px; */
    font-size: 27px;
    line-height: 33px;
    /* text-align: center; */
  }
}